#header {
    
 background: #1D1D1D
  url(header.png) repeat;
  height: 240px;
}
body {
    background: #F0EFE2 url(background.png);
    font-family: 'Trebuchet MS',  Arial, sans-serif;
   
    color: #777;
    
}
html
{ height: 100%;}
 * {margin: 0;
  padding: 0;}
@font-face {
    font-family: century-gothic;
    src: url(font/Century-Gothic.ttf);
}
.logo {
     
    font-family: century-gothic;
    color: white;
    font-weight: lighter;


}
#logo {
    font-size: 39px;
     position: relative;
     right: -220px;
     top:41px;
     letter-spacing: 0.1em;
}
span {
 color: #1293EE;
 }
 #logo-text {
     font-size: 11px;
     position:relative ;
     top: 47px;
     right: -220px;
     font-weight: lighter;
     letter-spacing: 0.1em;
 }
#menubar  {
    
    background-color: #1293EE;
    position: relative;
    top: 106px;
    width: 900px;
    height: 72px;
    margin: auto;
}
#menu li {
float: left;
display:block;
margin: 0;
color: white;
height: 37px;
font-family: Arial,  sans-serif;
text-align: center;
font-size: 13px ;
font-weight: lighter;
padding: 29px 26px 6px 26px;
letter-spacing: 0.1em;


}

#menu a {
    color: white;
}
#menubar :hover {
    color: white;
    background:#0D66A5 ;
 
}
  .active      {
    background:#0D66a5 ;
}
.left-side {
    
    
    width: 900px;
   margin: auto;
  
   
}
 h3 {
 font-family: century-gothic,Arial, sans-serif;
 padding: 32px 0px 0 35px;
 
font-weight: lighter;
color: #43423F;
font-size: 22px;

}
 p {
  
  padding:20px 0 0 35px;
   font-size: 13px;
   margin: auto;
   line-height: 1.5em;
   vertical-align: auto;
   
  
 }
 .side {
     float: right;
     position: relative;
     top : -290px;
     left: -40px;

    
     
    }
    .side p {
        padding: 3px 0 0 35px;
        font-size: 13px;
        
    }
    h4   {
        padding:20px 0  0 35px;
        align-content: inherit;
        color: #1293EE;
       font:   arial, sans-serif;
       font-weight: lighter;
    }
    h5 {
        padding: 20px 0 0 35px;
        font-family:century-gothic,Arial, sans-serif ;
        
    }
    .main {
        background: white;
        width: 900px;
       
        margin: auto;
    }
    .bro li {
        list-style-image:url(bullet.png);
        font-family:'Trebuchet MS', Arial, sans-serif;
        position: relative;
        padding: 0 0 10px 0px;
        right: -57px;
        font-size: 13px;
    }
  
    .com {
        color:#1293EE ;
    }
    h6 {
        padding: 20px 0 20px 35px;
        font-size: 13px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-weight: lighter;
    }
    h5 {
        color: black;
        font-size: 11px;
        padding-top: 3px;
        font-style: italic;
        padding-bottom: 10px;
     
       
       
    }
    .side a {
        color: #FF00FF;
        text-decoration: underline;
    }
  #same-con {
      float: right;
      position: relative;
    top: -60px;
      left: 183px;
      

  }
 
  #links {
      float: right;
      position: relative;
      bottom: 130px;
      left: -110px;
  }
  .links h3 {
      padding-bottom: 10px;
  }
  #links li  {
    background: url(link.png) no-repeat left center;
    padding: 5px 10px 5px 40px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
    
    
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 12px;
    position: relative;
    left: 30px;
  }

  .searchbar {
     position: relative;
     right: -680px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
 
  .searchbar h3 {
   position: relative;
   left: -36px;
   padding-bottom: 7px;
  
   
  }
  .searchbar ::placeholder {
      padding: 0 0 0 2px;
  }
  input {
      border-width: 0.5px;
      border-color: silver;
      height: 23px;
      width: 140px;
  }
  img  {
    position: relative;
    bottom: -7px;
    left: 3px;
     }
 .footer {
     width: 720px;
     margin: auto;
     height: 60px;
     background-color: #1293EE;
     padding-left: 180px;
 }
 
 .foot li  {
     font-size: 13px;
     font-weight: lighter;
     font:'lucida sans unicode', arial, sans-serif;
     float: left;
     list-style-type: none;
     color: white;
     text-align: center;
     padding: 22px 10px 4px 3px;
     letter-spacing: 0.1em;
    
 }
 .foot a {
     color: white;
 }